DATABASE_URL=actual_render_postgres_internal_url
APP_URL=https://app-7j8f.onrender.com
ENCRYPTION_KEY=35b123333d454a694761b7ed49e65387bce73a452c8740a0ad0e0ef0890403a4
OWNER_EMAIL=owner@excpix.com
OWNER_PASSWORD=strong_password_here
DEMO_MODE=false
