@font-face {
  font-family: 'Agbalumo';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(/editor/fonts/7f1c0136b46ede056b98.woff2) format('truetype');
}
@font-face {
  font-family: 'Aladin';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(/editor/fonts/0802338e49cb0f1cb7e5.woff2) format('truetype');
}
@font-face {
  font-family: 'Alex Brush';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(/editor/fonts/261b67677f80d18e0e02.woff2) format('truetype');
}
@font-face {
  font-family: 'Allura';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(/editor/fonts/c97cad0dbacbc38a6c03.woff2) format('truetype');
}
@font-face {
  font-family: 'Amatic SC';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(/editor/fonts/e04cd859adedd2f110c2.woff2) format('truetype');
}
@font-face {
  font-family: 'Anton';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(/editor/fonts/437dfd34de85ed82eba7.woff2) format('truetype');
}
@font-face {
  font-family: 'Arizonia';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(/editor/fonts/f48cfc921b0d4f8291b2.woff2) format('truetype');
}
@font-face {
  font-family: 'Asap';
  font-style: normal;
  font-weight: 400;
  font-stretch: normal;
  font-display: swap;
  src: url(/editor/fonts/b3a5dee70cf409f4edf9.woff2) format('truetype');
}
@font-face {
  font-family: 'Atomic Age';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(/editor/fonts/0d6f0659f4fd3945e896.woff2) format('truetype');
}
@font-face {
  font-family: 'Audiowide';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(/editor/fonts/96c92a5ca557afadbea6.woff2) format('truetype');
}
@font-face {
  font-family: 'Bahiana';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(/editor/fonts/0bbff042f7239052bb0d.woff2) format('truetype');
}
@font-face {
  font-family: 'Bangers';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(/editor/fonts/b9179e00893ec0e5ed00.woff2) format('truetype');
}
@font-face {
  font-family: 'Bebas Neue';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(/editor/fonts/04c4b988c94353cfcdfe.woff2) format('truetype');
}
@font-face {
  font-family: 'Black Ops One';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(/editor/fonts/0b8e7c9b9068e482d719.woff2) format('truetype');
}
@font-face {
  font-family: 'Boogaloo';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(/editor/fonts/52b7112d8d1f19f390cb.woff2) format('truetype');
}
@font-face {
  font-family: 'Bungee';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(/editor/fonts/58c0d7f2770cbe4f7546.woff2) format('truetype');
}
@font-face {
  font-family: 'Caesar Dressing';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(/editor/fonts/ecc2203f4e5edfb105d3.woff2) format('truetype');
}
@font-face {
  font-family: 'Carrois Gothic SC';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(/editor/fonts/a37131afa4a5c1f05850.woff2) format('truetype');
}
@font-face {
  font-family: 'Carter One';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(/editor/fonts/683d19635afd13b07e94.woff2) format('truetype');
}
@font-face {
  font-family: 'Caveat';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(/editor/fonts/4eac796a7fecf5edc9fa.woff2) format('truetype');
}
@font-face {
  font-family: 'Caveat Brush';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(/editor/fonts/c0286190feaf51daab40.woff2) format('truetype');
}
@font-face {
  font-family: 'Ceviche One';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(/editor/fonts/0ec56788fdacfa8df5ee.woff2) format('truetype');
}
@font-face {
  font-family: 'Charm';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(/editor/fonts/705250362d6fe4881a9a.woff2) format('truetype');
}
@font-face {
  font-family: 'Cherry Cream Soda';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(/editor/fonts/3ecaa4d4f18e56067e1a.woff2) format('truetype');
}
@font-face {
  font-family: 'Cherry Swash';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(/editor/fonts/748e22f3b25a74333c46.woff2) format('truetype');
}
@font-face {
  font-family: 'Chewy';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(/editor/fonts/b3f7c82a768f9db78ea4.woff2) format('truetype');
}
@font-face {
  font-family: 'Chicle';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(/editor/fonts/76afa32615a9cbc83a6b.woff2) format('truetype');
}
@font-face {
  font-family: 'Clicker Script';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(/editor/fonts/7f420fd87902d76433f4.woff2) format('truetype');
}
@font-face {
  font-family: 'Coda';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(/editor/fonts/ebc16bae1ae753788025.woff2) format('truetype');
}
@font-face {
  font-family: 'Codystar';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(/editor/fonts/b10a25473e3906ae4be9.woff2) format('truetype');
}

@font-face {
  font-family: 'Combo';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(/editor/fonts/28c4fc90a25db3bc992c.woff2) format('truetype');
}
@font-face {
  font-family: 'Coming Soon';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(/editor/fonts/64db951e71168c613ec8.woff2) format('truetype');
}
@font-face {
  font-family: 'Concert One';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(/editor/fonts/1e6c75f464f21b22ccc1.woff2) format('truetype');
}
@font-face {
  font-family: 'Cookie';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(/editor/fonts/ccc0604d44d85f679e51.woff2) format('truetype');
}
@font-face {
  font-family: 'Copse';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(/editor/fonts/9a769744b437fd3e79b5.woff2) format('truetype');
}
@font-face {
  font-family: 'Cormorant Upright';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(/editor/fonts/d90e8cf9da832c4da225.woff2) format('truetype');
}
@font-face {
  font-family: 'Covered By Your Grace';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(/editor/fonts/0432821241e51a3018a1.woff2) format('truetype');
}
@font-face {
  font-family: 'Crafty Girls';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(/editor/fonts/91cf8bc9ae4561abfff3.woff2) format('truetype');
}
@font-face {
  font-family: 'Creepster';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(/editor/fonts/a0e6fd8b3dc3412ee8b1.woff2) format('truetype');
}
@font-face {
  font-family: 'Croissant One';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(/editor/fonts/6ca6abc36b1715294630.woff2) format('truetype');
}
@font-face {
  font-family: 'Crushed';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(/editor/fonts/b427f90f4818b6d04847.woff2) format('truetype');
}
@font-face {
  font-family: 'Cute Font';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(/editor/fonts/c48abe15550d852fb5ce.woff2) format('truetype');
}
@font-face {
  font-family: 'Damion';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(/editor/fonts/c69901ba9815bce9c96a.woff2) format('truetype');
}
@font-face {
  font-family: 'Dancing Script';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(/editor/fonts/14fa613aef32d8da6502.woff2) format('truetype');
}
@font-face {
  font-family: 'Delius Swash Caps';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(/editor/fonts/23c68c8cd0789d4495c3.woff2) format('truetype');
}
@font-face {
  font-family: 'Denk One';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(/editor/fonts/b60e58818e41cc2ad6a5.woff2) format('truetype');
}
@font-face {
  font-family: 'Devonshire';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(/editor/fonts/087a817589da3b1c391d.woff2) format('truetype');
}
@font-face {
  font-family: 'Dr Sugiyama';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(/editor/fonts/516c408da8826c68559c.woff2) format('truetype');
}
@font-face {
  font-family: 'Dynalight';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(/editor/fonts/a9c7e35623cf62930a8c.woff2) format('truetype');
}
@font-face {
  font-family: 'East Sea Dokdo';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(/editor/fonts/23dbf557ae96a9dc3dd9.woff2) format('truetype');
}
@font-face {
  font-family: 'Eater';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(/editor/fonts/f0b78a62b8b0dce6c615.woff2) format('truetype');
}
@font-face {
  font-family: 'Emilys Candy';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(/editor/fonts/7b53202d91ab0fb8bd65.woff2) format('truetype');
}
@font-face {
  font-family: 'Farsan';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(/editor/fonts/ccc42ab34d23a2b99098.woff2) format('truetype');
}
@font-face {
  font-family: 'Fascinate';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(/editor/fonts/16bd2737cd12e70cc871.woff2) format('truetype');
}
@font-face {
  font-family: 'Fascinate Inline';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(/editor/fonts/01837f7ae26e807f8a8c.woff2) format('truetype');
}
@font-face {
  font-family: 'Felipa';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(/editor/fonts/f94d9c6b5aca7cd87ec1.woff2) format('truetype');
}
@font-face {
  font-family: 'Finger Paint';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(/editor/fonts/6f1f2aedc8aac6f558ec.woff2) format('truetype');
}
@font-face {
  font-family: 'Fjalla One';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(/editor/fonts/b4aacfbf0371a9129ceb.woff2) format('truetype');
}
@font-face {
  font-family: 'Flamenco';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(/editor/fonts/e65ec4519b024495d4f3.woff2) format('truetype');
}
@font-face {
  font-family: 'Freckle Face';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(/editor/fonts/afe507722f3159b683d6.woff2) format('truetype');
}

@font-face {
  font-family: 'Fredoka One';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(/editor/fonts/202203763a27e70092d2.woff2) format('truetype');
}
@font-face {
  font-family: 'Fugaz One';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(/editor/fonts/acbc23603a30d1604f34.woff2) format('truetype');
}
@font-face {
  font-family: 'Gabriela';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(/editor/fonts/1723d4384f73d1f10af8.woff2) format('truetype');
}
@font-face {
  font-family: 'Galada';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(/editor/fonts/3677d0924b43208e2d8c.woff2) format('truetype');
}
@font-face {
  font-family: 'Gamja Flower';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(/editor/fonts/b085ddb143c18bb54866.woff2) format('truetype');
}
@font-face {
  font-family: 'Geo';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(/editor/fonts/beede1b681ba92f7df19.woff2) format('truetype');
}
@font-face {
  font-family: 'Germania One';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(/editor/fonts/17d0eabd27ee09b407a3.woff2) format('truetype');
}
@font-face {
  font-family: 'Give You Glory';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(/editor/fonts/77667d0d6cf0199334c9.woff2) format('truetype');
}
@font-face {
  font-family: 'Glass Antiqua';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(/editor/fonts/f40e467b456975324171.woff2) format('truetype');
}
@font-face {
  font-family: 'Gloria Hallelujah';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(/editor/fonts/666808a97ea5178c5783.woff2) format('truetype');
}
@font-face {
  font-family: 'Goblin One';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(/editor/fonts/0eb8de36d665c65ce71e.woff2) format('truetype');
}
@font-face {
  font-family: 'Gochi Hand';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(/editor/fonts/0c4040b224fe3f4b0a3f.woff2) format('truetype');
}
@font-face {
  font-family: 'Gorditas';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(/editor/fonts/910c20a3a5f3022dd8d3.woff2) format('truetype');
}
@font-face {
  font-family: 'Graduate';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(/editor/fonts/9b0b4b451fc132c0e9e5.woff2) format('truetype');
}
@font-face {
  font-family: 'Great Vibes';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(/editor/fonts/d318eabc8987a1ab8c41.woff2) format('truetype');
}
@font-face {
  font-family: 'Griffy';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(/editor/fonts/100102e1a25d3b638aa3.woff2) format('truetype');
}
@font-face {
  font-family: 'Gugi';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(/editor/fonts/7e31884a2e792da02712.woff2) format('truetype');
}
@font-face {
  font-family: 'Hanalei Fill';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(/editor/fonts/40c70240d8156c202300.woff2) format('truetype');
}
@font-face {
  font-family: 'Henny Penny';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(/editor/fonts/2c509006816230653350.woff2) format('truetype');
}
@font-face {
  font-family: 'Holtwood One SC';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(/editor/fonts/d1f75433765c2e9db742.woff2) format('truetype');
}
@font-face {
  font-family: 'Iceberg';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(/editor/fonts/9d9cd1d8394b5c3dc625.woff2) format('truetype');
}
@font-face {
  font-family: 'Inconsolata';
  font-style: normal;
  font-weight: 400;
  font-stretch: normal;
  font-display: swap;
  src: url(/editor/fonts/2b2b98b21dea1bc7f1f9.woff2) format('truetype');
}
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(/editor/fonts/901544b03910bc94995f.woff2) format('truetype');
}
@font-face {
  font-family: 'Italiana';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(/editor/fonts/1dc29bc2f13e61d9640b.woff2) format('truetype');
}
@font-face {
  font-family: 'Italianno';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(/editor/fonts/5f3e9d09fa3f60ccecfb.woff2) format('truetype');
}
@font-face {
  font-family: 'Itim';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(/editor/fonts/e503d024bbafde0fc8bb.woff2) format('truetype');
}
@font-face {
  font-family: 'Jim Nightshade';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(/editor/fonts/297e56072f19796835e9.woff2) format('truetype');
}
@font-face {
  font-family: 'Jockey One';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(/editor/fonts/fb1c4d5f1cf5b2066256.woff2) format('truetype');
}
@font-face {
  font-family: 'Jolly Lodger';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(/editor/fonts/b93dc85afa707102ba72.woff2) format('truetype');
}
@font-face {
  font-family: 'Jomhuria';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(/editor/fonts/acb738cadc73c11d0606.woff2) format('truetype');
}

@font-face {
  font-family: 'Joti One';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(/editor/fonts/ce4d9274d8f5edfbead5.woff2) format('truetype');
}
@font-face {
  font-family: 'Jua';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(/editor/fonts/fe43b5bb384edbeff640.woff2) format('truetype');
}
@font-face {
  font-family: 'Julee';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(/editor/fonts/352d846992357ffb9da0.woff2) format('truetype');
}
@font-face {
  font-family: 'Just Another Hand';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(/editor/fonts/ebca64a745749e14d9c7.woff2) format('truetype');
}
@font-face {
  font-family: 'Kalam';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(/editor/fonts/f0ecf1abe27808565a0b.woff2) format('truetype');
}
@font-face {
  font-family: 'Kaushan Script';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(/editor/fonts/df05eb3d37edf5fd3825.woff2) format('truetype');
}
@font-face {
  font-family: 'Kavivanar';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(/editor/fonts/b089bf1272e901252cfc.woff2) format('truetype');
}
@font-face {
  font-family: 'Kavoon';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(/editor/fonts/22a192be6c470d130919.woff2) format('truetype');
}
@font-face {
  font-family: 'Keania One';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(/editor/fonts/d96f70c23ab1cefbb3dc.woff2) format('truetype');
}
@font-face {
  font-family: 'Kelly Slab';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(/editor/fonts/d759859649b605822bfc.woff2) format('truetype');
}
@font-face {
  font-family: 'Kenia';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(/editor/fonts/e50567b2f5ecb040f292.woff2) format('truetype');
}
@font-face {
  font-family: 'Kirang Haerang';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(/editor/fonts/3d1efeb636e08d5da2dc.woff2) format('truetype');
}
@font-face {
  font-family: 'Knewave';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(/editor/fonts/b8831c31c5bd1dec146c.woff2) format('truetype');
}
@font-face {
  font-family: 'Kotta One';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(/editor/fonts/6121121fbfb7b39fd86d.woff2) format('truetype');
}
@font-face {
  font-family: 'Kranky';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(/editor/fonts/7d6473554220092f5a28.woff2) format('truetype');
}
@font-face {
  font-family: 'Kumar One';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(/editor/fonts/b8c775688d4344345aac.woff2) format('truetype');
}
@font-face {
  font-family: 'Kumar One Outline';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(/editor/fonts/a81b712c099b7cd26b88.woff2) format('truetype');
}
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(/editor/fonts/4d3e9082410f2959dafc.woff2) format('truetype');
}
@font-face {
  font-family: 'Leckerli One';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(/editor/fonts/a0abd0c9127a764db3e1.woff2) format('truetype');
}
@font-face {
  font-family: 'Life Savers';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(/editor/fonts/01bf74553e5757f37823.woff2) format('truetype');
}
@font-face {
  font-family: 'Lilita One';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(/editor/fonts/18a97affa27f6e1fa0bf.woff2) format('truetype');
}
@font-face {
  font-family: 'Lily Script One';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(/editor/fonts/323d110d789f96cab8b0.woff2) format('truetype');
}
@font-face {
  font-family: 'Lobster';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(/editor/fonts/95912b0df1a4e4b4d392.woff2) format('truetype');
}
@font-face {
  font-family: 'Londrina Outline';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(/editor/fonts/f5d1b4baa8badd4707bf.woff2) format('truetype');
}
@font-face {
  font-family: 'Luckiest Guy';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(/editor/fonts/6e168aa58ec2c3d97ace.woff2) format('truetype');
}
@font-face {
  font-family: 'Macondo Swash Caps';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(/editor/fonts/1dac226c4806184f6c2d.woff2) format('truetype');
}
@font-face {
  font-family: 'Marcellus';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(/editor/fonts/a1ccbf2ed6ed8887380d.woff2) format('truetype');
}
@font-face {
  font-family: 'Marcellus SC';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(/editor/fonts/c9779db9c3cba99d0a05.woff2) format('truetype');
}
@font-face {
  font-family: 'Marck Script';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(/editor/fonts/293a899139d2336df09e.woff2) format('truetype');
}
@font-face {
  font-family: 'Margarine';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(/editor/fonts/ce86f4168b758a88f442.woff2) format('truetype');
}

@font-face {
  font-family: 'Marko One';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(/editor/fonts/9cc6ae777ace26daa8f1.woff2) format('truetype');
}
@font-face {
  font-family: 'MedievalSharp';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(/editor/fonts/c8cf3ad27f2a05bb8766.woff2) format('truetype');
}
@font-face {
  font-family: 'Metal Mania';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(/editor/fonts/7390a72debea320fe95f.woff2) format('truetype');
}
@font-face {
  font-family: 'Miltonian Tattoo';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(/editor/fonts/ba16fb2d20c920d5266d.woff2) format('truetype');
}
@font-face {
  font-family: 'Modak';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(/editor/fonts/fc5ad8c3bdd437329e94.woff2) format('truetype');
}
@font-face {
  font-family: 'Monoton';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(/editor/fonts/a36c0d5e77d43a9cc74c.woff2) format('truetype');
}
@font-face {
  font-family: 'Montez';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(/editor/fonts/ccfd55e6b9f3e2c74152.woff2) format('truetype');
}
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(/editor/fonts/f9f931d4cae3168c60c7.woff2) format('truetype');
}
@font-face {
  font-family: 'Montserrat Subrayada';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(/editor/fonts/28144e9e0c0055c2a4d2.woff2) format('truetype');
}
@font-face {
  font-family: 'Mr Bedfort';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(/editor/fonts/8e7132c9dcaaf7e70129.woff2) format('truetype');
}
@font-face {
  font-family: 'Mrs Sheppards';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(/editor/fonts/bcf4a02150d11c8056d7.woff2) format('truetype');
}
@font-face {
  font-family: 'Mystery Quest';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(/editor/fonts/603240ef5049d5edb9cd.woff2) format('truetype');
}
@font-face {
  font-family: 'New Rocker';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(/editor/fonts/64ad6d24a8ceaa8b9a76.woff2) format('truetype');
}
@font-face {
  font-family: 'Niconne';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(/editor/fonts/1d6ab0f0083be28b14bc.woff2) format('truetype');
}
@font-face {
  font-family: 'Nixie One';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(/editor/fonts/f07ed539ca817473ee95.woff2) format('truetype');
}
@font-face {
  font-family: 'Norican';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(/editor/fonts/3a7742906ea790b51503.woff2) format('truetype');
}
@font-face {
  font-family: 'Nosifer';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(/editor/fonts/6838b15f776aecd67504.woff2) format('truetype');
}
@font-face {
  font-family: 'Notable';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(/editor/fonts/966ac665b9b4a1be9c14.woff2) format('truetype');
}
@font-face {
  font-family: 'Nova Oval';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(/editor/fonts/2683b72c3866fb6e9c94.woff2) format('truetype');
}
@font-face {
  font-family: 'Nova Script';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(/editor/fonts/7e73fea7a0af26a118ca.woff2) format('truetype');
}
@font-face {
  font-family: 'Nova Square';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(/editor/fonts/42d7ff66f2998631e32a.woff2) format('truetype');
}
@font-face {
  font-family: 'Old Standard TT';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(/editor/fonts/357b8f62354ea91dfa46.woff2) format('truetype');
}
@font-face {
  font-family: 'Oleo Script';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(/editor/fonts/95e66896bdf4d7f09a75.woff2) format('truetype');
}
@font-face {
  font-family: 'Oleo Script Swash Caps';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(/editor/fonts/5e0dde75c01abc06eb32.woff2) format('truetype');
}
@font-face {
  font-family: 'Orbitron';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(/editor/fonts/a7a3a23c812245080f60.woff2) format('truetype');
}
@font-face {
  font-family: 'Oregano';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(/editor/fonts/4722033ad9cfc57fe8a3.woff2) format('truetype');
}
@font-face {
  font-family: 'Original Surfer';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(/editor/fonts/0b42cb8a428d102c64b5.woff2) format('truetype');
}
@font-face {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(/editor/fonts/168ef37ebafe85c69493.woff2) format('truetype');
}
@font-face {
  font-family: 'Pacifico';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(/editor/fonts/0589375dd6287721393d.woff2) format('truetype');
}
@font-face {
  font-family: 'Pangolin';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(/editor/fonts/7c49a2a70f6a940cd36f.woff2) format('truetype');
}

@font-face {
  font-family: 'Paprika';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(/editor/fonts/2cc2e959d678aac1768e.woff2) format('truetype');
}
@font-face {
  font-family: 'Parisienne';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(/editor/fonts/e467a13e1e24f894a513.woff2) format('truetype');
}
@font-face {
  font-family: 'Passero One';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(/editor/fonts/bd0f7f15cf786eb8f781.woff2) format('truetype');
}
@font-face {
  font-family: 'Passion One';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(/editor/fonts/6bbc3962da3f55d8d986.woff2) format('truetype');
}
@font-face {
  font-family: 'Patrick Hand SC';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(/editor/fonts/54f232dc5f9da3ad2be6.woff2) format('truetype');
}
@font-face {
  font-family: 'Pattaya';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(/editor/fonts/86741744d1c30cadadcf.woff2) format('truetype');
}
@font-face {
  font-family: 'Piedra';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(/editor/fonts/ba8f7e588f583eac6864.woff2) format('truetype');
}
@font-face {
  font-family: 'Pirata One';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(/editor/fonts/fa117c62461ee5fb0a3c.woff2) format('truetype');
}
@font-face {
  font-family: 'Playball';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(/editor/fonts/3b35aa80fc1c11296874.woff2) format('truetype');
}
@font-face {
  font-family: 'Playfair Display';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(/editor/fonts/610ca11cbcec76710660.woff2) format('truetype');
}
@font-face {
  font-family: 'Playfair Display SC';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(/editor/fonts/b4882ff8fdf58ba5fac0.woff2) format('truetype');
}
@font-face {
  font-family: 'Poiret One';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(/editor/fonts/155c4ac46a2f7f21cc81.woff2) format('truetype');
}
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(/editor/fonts/9956463e700008e6e6e6.woff2) format('truetype');
}
@font-face {
  font-family: 'Questrial';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(/editor/fonts/0ef2878f9fa258264ad3.woff2) format('truetype');
}
@font-face {
  font-family: 'Quintessential';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(/editor/fonts/4c535af30da36436d4dd.woff2) format('truetype');
}
@font-face {
  font-family: 'Qwigley';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(/editor/fonts/7f10e843915f72e154dc.woff2) format('truetype');
}
@font-face {
  font-family: 'Racing Sans One';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(/editor/fonts/1510fff8028282e14cec.woff2) format('truetype');
}
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(/editor/fonts/0dbdd5048556689ce6c4.woff2) format('truetype');
}
@font-face {
  font-family: 'Ranchers';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(/editor/fonts/f771d8ca5625c8bccea0.woff2) format('truetype');
}
@font-face {
  font-family: 'Rancho';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(/editor/fonts/dc8f93d731c0a759b4eb.woff2) format('truetype');
}
@font-face {
  font-family: 'Ribeye';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(/editor/fonts/67cedb6369775e5cc935.woff2) format('truetype');
}
@font-face {
  font-family: 'Righteous';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(/editor/fonts/0abae2af3243f4974e19.woff2) format('truetype');
}
@font-face {
  font-family: 'Risque';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(/editor/fonts/fb9e42cfdb76ab6cf61e.woff2) format('truetype');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-stretch: normal;
  font-display: swap;
  src: url(/editor/fonts/98b910f0208e132f8fc6.woff2) format('truetype');
}
@font-face {
  font-family: 'Rochester';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(/editor/fonts/7914074f5ec23c7bdae1.woff2) format('truetype');
}
@font-face {
  font-family: 'Romanesco';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(/editor/fonts/6807be1fc3f625ca26cc.woff2) format('truetype');
}
@font-face {
  font-family: 'Rouge Script';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(/editor/fonts/ec96e865e1c568da061f.woff2) format('truetype');
}
@font-face {
  font-family: 'Ruge Boogie';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(/editor/fonts/0b76de846048706a0915.woff2) format('truetype');
}
@font-face {
  font-family: 'Rum Raisin';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(/editor/fonts/0593b90a11268219e9f5.woff2) format('truetype');
}
@font-face {
  font-family: 'Ruslan Display';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(/editor/fonts/fddd5929397a4ab2c2c0.woff2) format('truetype');
}

@font-face {
  font-family: 'Russo One';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(/editor/fonts/79d32fdf602b7b2eb3e8.woff2) format('truetype');
}
@font-face {
  font-family: 'Rye';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(/editor/fonts/0df9c933db0da6801b69.woff2) format('truetype');
}
@font-face {
  font-family: 'Sacramento';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(/editor/fonts/b984c2690d3253fc7436.woff2) format('truetype');
}
@font-face {
  font-family: 'Sail';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(/editor/fonts/65a4e10a95dc2f2f7baf.woff2) format('truetype');
}
@font-face {
  font-family: 'Sarina';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(/editor/fonts/1b8d12a49bb8e253fef4.woff2) format('truetype');
}
@font-face {
  font-family: 'Satisfy';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(/editor/fonts/decdf3c40a580d83a0f4.woff2) format('truetype');
}
@font-face {
  font-family: 'Schoolbell';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(/editor/fonts/ecdd95793b0daca643da.woff2) format('truetype');
}
@font-face {
  font-family: 'Sedgwick Ave';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(/editor/fonts/ad1491efb1b2ced57683.woff2) format('truetype');
}
@font-face {
  font-family: 'Sedgwick Ave Display';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(/editor/fonts/700e9c83bac36810b327.woff2) format('truetype');
}
@font-face {
  font-family: 'Send Flowers';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(/editor/fonts/27e859746095caa19422.woff2) format('truetype');
}
@font-face {
  font-family: 'Skranji';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(/editor/fonts/3062ba12057dc4defb75.woff2) format('truetype');
}
@font-face {
  font-family: 'Slabo 27px';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(/editor/fonts/5af3e0091d711b5facad.woff2) format('truetype');
}
@font-face {
  font-family: 'Smokum';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(/editor/fonts/1ba7c2bc2f3564a4b43c.woff2) format('truetype');
}
@font-face {
  font-family: 'Smythe';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(/editor/fonts/fa9756489e0fac723930.woff2) format('truetype');
}
@font-face {
  font-family: 'Sniglet';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(/editor/fonts/a5764791105e2c94e1fc.woff2) format('truetype');
}
@font-face {
  font-family: 'Snippet';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(/editor/fonts/6b48fc95f6d3c0fc40df.woff2) format('truetype');
}
@font-face {
  font-family: 'Snowburst One';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(/editor/fonts/49d3430321241c0e2b51.woff2) format('truetype');
}
@font-face {
  font-family: 'Sofadi One';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(/editor/fonts/d3918c507a8e408fbf7c.woff2) format('truetype');
}
@font-face {
  font-family: 'Sofia';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(/editor/fonts/f011787ba0783cfcc325.woff2) format('truetype');
}
@font-face {
  font-family: 'Spicy Rice';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(/editor/fonts/fe744ee68613a29f4722.woff2) format('truetype');
}
@font-face {
  font-family: 'Sriracha';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(/editor/fonts/3b525dd7d290ceba66bc.woff2) format('truetype');
}
@font-face {
  font-family: 'Srisakdi';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(/editor/fonts/743d3f1596d8e5f5d22a.woff2) format('truetype');
}
@font-face {
  font-family: 'Staatliches';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(/editor/fonts/741580c2993efda4dbef.woff2) format('truetype');
}
@font-face {
  font-family: 'Stalemate';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(/editor/fonts/b447896d3b3a0b78f907.woff2) format('truetype');
}
@font-face {
  font-family: 'Stardos Stencil';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(/editor/fonts/89e7875b1b79fce65ede.woff2) format('truetype');
}
@font-face {
  font-family: 'Stint Ultra Condensed';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(/editor/fonts/f4b1256f0e6767e36020.woff2) format('truetype');
}
@font-face {
  font-family: 'Stylish';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(/editor/fonts/03a483df1d1afd5a89ca.woff2) format('truetype');
}
@font-face {
  font-family: 'Sue Ellen Francisco';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(/editor/fonts/34fbba9656d4adeb0488.woff2) format('truetype');
}
@font-face {
  font-family: 'Sunshiney';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(/editor/fonts/80138c3243132e238837.woff2) format('truetype');
}
@font-face {
  font-family: 'Supermercado One';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(/editor/fonts/e9378561a2b248f6fe38.woff2) format('truetype');
}

@font-face {
  font-family: 'Sura';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(/editor/fonts/01efd2112d8c486f913f.woff2) format('truetype');
}
@font-face {
  font-family: 'Syncopate';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(/editor/fonts/172beb168c1308f29c62.woff2) format('truetype');
}
@font-face {
  font-family: 'Syne Tactile';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(/editor/fonts/bc76a52e1c90288f5119.woff2) format('truetype');
}
@font-face {
  font-family: 'Tangerine';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(/editor/fonts/63c161a8fd9357e3f6d4.woff2) format('truetype');
}
@font-face {
  font-family: 'Tauri';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(/editor/fonts/4205b70d835994a01a00.woff2) format('truetype');
}
@font-face {
  font-family: 'Taviraj';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(/editor/fonts/0a275f9e2b5f2e774361.woff2) format('truetype');
}
@font-face {
  font-family: 'Teko';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(/editor/fonts/fb6e41937cc50c17b89f.woff2) format('truetype');
}
@font-face {
  font-family: 'Tillana';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(/editor/fonts/9e260fc8d39158134d91.woff2) format('truetype');
}
@font-face {
  font-family: 'Timmana';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(/editor/fonts/b4b03179fc54f3457be7.woff2) format('truetype');
}
@font-face {
  font-family: 'Tinos';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(/editor/fonts/6d4019762faf2a8c47c2.woff2) format('truetype');
}
@font-face {
  font-family: 'Titan One';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(/editor/fonts/628f4426cf3624c5b82a.woff2) format('truetype');
}
@font-face {
  font-family: 'Trade Winds';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(/editor/fonts/e5959176b7d73c60e459.woff2) format('truetype');
}
@font-face {
  font-family: 'Trocchi';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(/editor/fonts/082c4359e667601ffa18.woff2) format('truetype');
}
@font-face {
  font-family: 'Trochut';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(/editor/fonts/eaf0479a95ca69d3ea79.woff2) format('truetype');
}
@font-face {
  font-family: 'Tulpen One';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(/editor/fonts/2d441a24bbf44b5c84cb.woff2) format('truetype');
}
@font-face {
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(/editor/fonts/352e4615175b8aeefe0c.woff2) format('truetype');
}
@font-face {
  font-family: 'Uncial Antiqua';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(/editor/fonts/4cdf8b01cba83a63c84e.woff2) format('truetype');
}
@font-face {
  font-family: 'Underdog';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(/editor/fonts/cf9ef87db1303cabc0f0.woff2) format('truetype');
}
@font-face {
  font-family: 'UnifrakturMaguntia';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(/editor/fonts/52e4e289ab2dfc1bce74.woff2) format('truetype');
}
@font-face {
  font-family: 'Vibur';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(/editor/fonts/dcd52672f09946499502.woff2) format('truetype');
}
@font-face {
  font-family: 'Warnes';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(/editor/fonts/173bf4223c609e641054.woff2) format('truetype');
}
@font-face {
  font-family: 'Yanone Kaffeesatz';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(/editor/fonts/c7d0669a8ec6477cb42e.woff2) format('truetype');
}
@font-face {
  font-family: 'Yesteryear';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(/editor/fonts/c95098546a8db122c2f7.woff2) format('truetype');
}
@font-face {
  font-family: 'Zen Tokyo Zoo';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(/editor/fonts/1f7e870bc5f2c29e0120.woff2) format('truetype');
}
@font-face {
  font-family: 'Zeyada';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(/editor/fonts/d63d351fbdf3a9391857.woff2) format('truetype');
}

